.vertical-line {
  position:fixed;
  left: 45%;
  transform: translateX(-50%);
  height: 100%;
  width: 1px;
  background-color: #a5b6b8;
}

@media (max-width: 1050px) {
  .vertical-line {
    background-color: transparent;
  }
}
